.outer-shell{
	width: 450px;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #c4c4c4;
	border-radius: 8px;
}
.container{
	width: 100%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid;*/
}
.logo{
	margin: auto;
  	width: 75px;
	height: 24px;
/*	left: 50%;
	transform: translate(-50%, 0);*/
}
.logo img{
	width: 100%;
}
.title{
	width: 80%;
	margin: auto;
	padding-top: 16px;
/*	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);*/
	text-align: center;
	opacity: 0.95;
	font-size: 24px;
	line-height: 1.3333;
	color: #202124;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
.sub-title{
	width: auto;
	margin: auto;
	padding-top: 8px;
/*	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);*/
	text-align: center;
	opacity: 0.95;
	font-size: 16px;
	line-height: 1.5;
	color: #202124;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
.section-1 {
	width: 368px;
	height: 274px;
	padding-top: 24px;
	margin: auto;
}
.text-box{
	width: 368px;
	height: 54px;
	margin: auto;
	position: relative;
	margin-top: 8px;
/*	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	box-sizing: border-box;
}
.text-box input{
	display: block;
	height: 100%;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	font-size: 18px;
	color: #575757;
	background-color: rgba(255, 255, 255, 0);
}
.text-box label{
	display: block;
	margin: 2px;
	padding: 0 3px;	
	background: rgba(255, 255, 255, 0);
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 16px;
	color: #202124;
	opacity: 0.6;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 400;
	z-index: -1;
	transition: 0.2s;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.text-box input:focus ~ label, input:valid ~ label
{
	left: 10px;
	top: 0px;
	font-size: 12px;
	color: #a1a1a1;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	z-index: 1;
}
.text-box input:focus ~ label{
	color: #2076f7;
	opacity: 1;
}
.text-box input:focus {
	border: 2px solid #2076f7;
	outline: none;
	font-size: 18px;
	color: #575757;
}
.section-2{
	width: auto;
	margin: auto;
	padding-top: 9px;
/*	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);*/
	font-size: 14px;
	color: #1a73e8;
	opacity: 0.8;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 600;
}
.section-3{
	width: auto;
	margin: auto;
	padding-top: 45px;
/*	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);*/
	font-size: 14px;
	color: #5f6388;
	line-height: 1.4286;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
.section-3 div{
	padding-top: 0;
}
.section-4 {
	width: 100%;
	height: 50px;
/*	border: 1px solid;*/
	margin-top: 40px;
	padding-bottom: 20px;
}
.section-4 div{
	display: inline;
}
.section-5 {
	width: 90px;
	height: 50px;
	position: relative;
	left: 170px;
	background-color: #1a73e8;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	padding: 10px 28px;
	text-align: center;

	color: #fff;
	line-height: 1.8286;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 560;
	
}
.footer{
	width: 450px;
	height: 50px;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
}
.footer-1 {
	float: left;
	flex: 2.5;
	font-size: 12px;
	line-height: 3.8286;
	color: #212024;
	opacity: 0.9;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 500;
}
.footer-1 label{
	margin-right: 5px;
}
.footer-2 {
	padding-left: 30px;
	font-size: 12px;
	line-height: 3.8286;
	color: #212024;
	opacity: 0.7;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-weight: 560;
}
.spacer {
	flex: 1;
}